@import "tailwindcss";

@font-face {
  font-family: Allura;
  src: url('/src/fonts/Allura-Regular.ttf');
}

@theme {
  --breakpoint-tmd: 850px;
  --breakpoint-xmd: 450px;
  --breakpoint-xsm: 350px;
  --font-allura: Allura;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #171717;
    --foreground: #ededed;
  }
}

/* html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overscroll-behavior: none;
  font-family: Arial, Helvetica, sans-serif;
} */

/* #__next {
  height: 100%;
  overflow: auto;
}   */
